In [1]:
import pandas as pd
import numpy as np
import unidecode

In [2]:
#https://www.ime.usp.br/~pf/dicios/br-utf8.txt
palavras = pd.read_csv("pala.txt")
palavras.columns = ["a"]

In [3]:
continuar = [False]*len(palavras)

for i in range(len(palavras["a"])):
    if (len(palavras["a"][i]) == 5) & ("-" not in palavras["a"][i]) & ("." not in palavras["a"][i]):
        continuar[i] = True

palavras = palavras[continuar]
palavras.reset_index(inplace=True, drop = True)

In [4]:
for i in range(len(palavras)):
    palavras["a"][i] = unidecode.unidecode(palavras["a"][i]).upper()

In [5]:
letras = ["A","B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P",
"Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
letrasCont = pd.DataFrame(np.zeros((len(palavras), 26)), columns= letras)

In [6]:
for i in range(len(palavras)):
    for j in letras:
        letrasCont[j][i] = palavras["a"][i].count(j)

In [7]:
prob = pd.DataFrame(np.zeros((26, 1)), index= letras)
prob.columns = ["prob"]
for i in letrasCont.columns:
    prob["prob"][i] = sum(letrasCont[i])/(len(palavras)*5)

In [8]:
probPalavra = np.ones((len(letrasCont["A"]), 26))
for i in range(26):
    for j in range(len(letrasCont["A"])):
        probPalavra[j, i] = prob["prob"][i]**letrasCont.iloc[j, i]

In [9]:
df = pd.DataFrame(np.prod(probPalavra, 1), index= palavras["a"])

In [10]:
df.sort_values(0, ascending= False)[0:20]

              0
a
AARAO  0.000035
ARARA  0.000028
ARARA  0.000028
SAARA  0.000025
SAARA  0.000025
AEREA  0.000021
AREIA  0.000017
ORARA  0.000017
ORARA  0.000017
RAREA  0.000016
ARREA  0.000016
AMARA  0.000016
AMARA  0.000016
ACAIA  0.000015
SOARA  0.000015
SOARA  0.000015
SEARA  0.000015
AREAS  0.000015
ARACA  0.000015
ATARA  0.000015